<% provide(:title, 'All Users') %>
<h1>ユーザ一覧</h1>

<div class="csv-holder">
  <%= form_with url: csv_import_users_path do |f| %>
    <%= f.file_field :file, accept: '.csv' %>
    <%= f.submit "CSVをインポート", class: "btn btn-primary btn-block btn-form" %>
  <% end %>
</div>

<div class="col-md-12 all-users">
  <% @users.each do |user| %>
    <p>
      <% if current_user.admin? && !current_user?(user) %>
        <%= user.name %><br>
        |&nbsp<%= link_to "削除", user, method: :delete,
        data: { confirm: "削除してよろしいですか？" }, 
        class: "btn btn-primary" %><br>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <button class="btn btn-primary btn-lg"
                  data-toggle="collapse"
                  data-target="#collapse<%= user.id %>">編集</button>
              </h4>
            </div>
            <div id="collapse<%= user.id %>" class="panel-collapse collapse">
              <div class="panel-body">
                <%= render 'form2', user: user %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </p>
  <% end %>
</div>
