<% provide(:title, 'overtime-req') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <%= form_with(model: @user, url: attendances_update_overtime_req_user_path(date: params[:date]), local: true, method: :patch) do |f| %>
        <h2 class="modal-title">【残業申請】</h2>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <table class="table table-bordered table-condensed table-hover" id="table-attendances">
              <thead>
                <tr>
                  <th>日付</th>
                  <th>曜日</th>
                  <th>終了予定時間</th>
                  <th>翌日</th>
                  <th>業務処理内容</th>
                  <th>指示者確認㊞</th>
                </tr>
              </thead>
              <tbody>
                <% @attendances.each do |day| %>
                  <%= f.fields_for "attendances[]", day do |attendance| %>
                    <% if day.worked_on == @attendance.worked_on %>
                      <tr>
                        <td><%= working_day(day.worked_on) %></td>
                        <td><%= $days_of_the_week[day.worked_on.wday] %></td>
                        <td><%= attendance.time_select :scheduled_at, { include_blank: true }, { id: 'overtime-select', class: 'form-control' } %></td>
                        <td><%= attendance.check_box :overwork_next_day %></td>
                        <td><%= attendance.text_field :worked_contents, class: "form-control" %></td>
                        <td><%= attendance.collection_select :confirmed_request, @superior, :name, :name, { include_blank: true }, class: 'form-control' %></td>                         
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
            <div class="center">
              <%= f.submit "変更を送信する", class: "btn btn-primary btn-block" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>