<% provide(:title, 'monthly-aprv') %>
<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <%= form_with(model: @user, url: attendances_update_monthly_aprv_user_path, local: true, method: :patch) do |f| %>
        <% @users.each do |user| %>
          <h2 class="modal-title"><%= "【#{user.name}からの1ヶ月分勤怠申請】" %></h2>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <table class="table table-bordered table-condensed table-hover" id="table-attendances">
                <thead>
                  <tr>
                    <th>月</th>
                    <th>指示者確認㊞</th>
                    <th>変更</th>
                    <th>勤怠を確認する</th>
                  </tr>
                </thead>
                <tbody>
                  <% @attendances.where(user_id: user.id).each do |day| %>
                    <%= f.fields_for "attendances[]", day do |attendance| %>
                      <tr>
                        <td><%= day.worked_on.month %>月</td>
                        <td><%= attendance.select :aprv_status, ['なし', '申請中', '承認', '否認'], {}, { id: 'aprv-select', class: 'form-control' } %></td>
                        <td><%= attendance.check_box :aprv_chk %></td>
                        <td><%= link_to "確認", user_path(user, date: day.worked_on.beginning_of_month), class: "btn btn-primary" %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>  
        <% end %>
        <div class="center">
          <%= f.submit "変更を送信する", class: "btn btn-primary btn-overtime-aprv" %>
        </div>
      <% end %>
    </div>
  </div>
</div>